.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appButton {
margin: 30px;
  width: 25%;
  padding: 15px;
  background-color: blue;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid blue;
}

#childComponentImg {
  width: 500px;
  height: 300px;
}

.courseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.childContainer{
    margin: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}
